:root {
    --mainColor: rgba(50,0,0,1);
    --mainColorGradBetween: rgba(125,0,0,1);
    --mainColorGrad: rgba(255,0,0,1);
    --gradDeg:45deg;
    --backgroundColor:black;
    --backgroundColorGrad: #333333;
    --whiteGrad: /*rgba(255,255,255,0.75)*/ grey;
    --white: /*rgba(255,255,255,1)*/ grey;

}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #888888;
    overflow:hidden;

}

.wrapper{
    width: 80vw;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soundList{
    overflow: hidden;
    width: 20vw;
    height: 70vh;
    display: flex;
    border: 2px solid darkgrey;
    box-shadow: 2px 0 0 0 darkgrey;
    z-index:1;
    /*background: red;*/
}
.soundList ul li{
    border: 1px solid black;

}

.mainWindow{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.mainWindowMenu{
    width:100vw;
    height:10vh;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.ltrWrapper{
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soundSpectrum{
    width:100vw;
    height:20vh;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

#image img{
    border-radius: 50%;
    width:100%;
    margin:  0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ear {
    height: 35%;
    width: 40%;
    border-radius: 50%;
    margin-top: 20%;
}

.ear.left {
    background: linear-gradient(15deg,var(--mainColor)5%, var(--mainColorGradBetween)77%, var(--mainColorGrad)100%);
    /*background-color: var(--mainColorGradBetween);*/
    transform: rotate(30deg);
}

.ear.right {
    background: linear-gradient(65deg, var(--mainColorGradBetween) 30%, var(--mainColorGrad)100%);
    transform: rotate(330deg);
}

.space {
    width: 4%;
}

.ear-container {
    width:100%;
    display: flex;
    justify-content: center;
}

.logo-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.face {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-top: -15%;
    background: radial-gradient( transparent 67% , var(--mainColorGrad) 98%), linear-gradient(var(--gradDeg), var(--mainColor)30%, var(--mainColorGradBetween)72%);
    z-index: 1;
}

.face-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.eyes-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.eye {
    height: 20%;
    width: 20%;
    /*background: linear-gradient(var(--white), var(--whiteGrad));*/
    margin-top: 10%;
    z-index: 1;
    background: rgba(255,255,255,1);
    box-shadow: -2px -2px 15px 2px white;


    border-top-left-radius: 85%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
}

.eye-space {
    width: 33%;
}

.mouth-container{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:center;
    align-items:center;
}

.mouth{
    height: 50%;
    width: 45%;
    background: linear-gradient(var(--white), var(--whiteGrad));
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 15%;
    background: white;
    box-shadow: 0px 0px 10px 1px white;

}

.mouth.left {
    border-bottom-left-radius: 100%;
}

.mouth.right {
    border-bottom-right-radius: 100%;
}

.eye.left {

}

.eye.right {
    transform: scaleX(-1);
}


.playBtn {
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 75px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.playBtn.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}

.playBtn.paused:hover {
    border-color: transparent transparent transparent #404040;
}

#musicList{
    width:400px;
    margin:0 auto;
}

#musicList ul{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}

#musicList li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: rgba(100,100, 50,0.5);
    color: #000;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: 10em;
    transition: all .2s ease-in-out;
}

#musicList li:hover{
    background: #d6d4d4;
    text-decoration:none;
    transform: scale(1.1);
}